h1
{
	color: red;
	text-align: center;
	font-size: 90px;
}

.hot
{
	color: red;
	text-decoration: underline;
	text-decoration-color: red;
	font-size: 70px;
}

body
{
	background-color: #ffff99;
}

.ray
{
	text-decoration: line-through;
}

.promos
{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.articlee:hover
{
	transform: scale(1.15);
}

footer
{
	text-align: center;
	flex-wrap: nowrap;
}

.articlee
{
	background-color: #ff9900;
	text-align: center;
	height: 350px;
	width: 350px;
	border-color: blue;
	border-radius: 6px;
	padding-bottom: -5px;
	padding-top: 10px;
	margin: 10px;

}

.nomarticle
{
	color: brown;
	font-size: 20px;
}

h2
{
	text-align: center;
}

.jiuf
{
	background-color: #ffcc00;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 200px;
	margin-right: 200px;
	width:1500px;
}

nav 
{
    display: flex;
    align-items: flex-end;
}

ul 
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:space-between;
	list-style:none;
}

li
{
	padding:5px;
}

nav ul li {
    border: solid #ff9900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc00;
}